
  <h1 class="header">
    Welcome to Dungeon Hero! Please select a character!
  </h1>


  <div class="centered">
    <section class="characters">
  <article class="character">
    <h1>
      {{heroOne.name}} the {{heroOne.classType.name}}!!
    </h1>
   <h2>
    Your modifiers are: <br>
    HP:       {{heroOne.classType.hpModifier.value}} <br>
    MP:       {{heroOne.classType.mpModifier.value}} <br>
    Physical Damage:   {{heroOne.classType.physicalModifier.value}} <br>
    Magical Damage: {{heroOne.classType.magicalModifier.value}} <br>
    Defense:  {{heroOne.classType.defenseModifier.value}} <br>
    Magic Defense: {{heroOne.classType.magicDefenseModifier.value}} <br>
    Healing:  {{heroOne.classType.healModifier.value}} <br>
  </h2>
  <h2>
    Your skills are: <br>
    <ul>
      Primary:
      <li>{{heroOne.skillset.primaryAbility.name}}</li>
      <li>{{heroOne.skillset.primaryAbility.abilityType}}</li>
      <li>{{heroOne.skillset.primaryAbility.value}}</li>
    </ul>
    <ul>
      Secondary:
      <li>{{heroOne.skillset.secondaryAbility.name}}</li>
      <li>{{heroOne.skillset.secondaryAbility.abilityType}}</li>
      <li>{{heroOne.skillset.secondaryAbility.value}}</li>
    </ul>
    <ul>
      Tertiary:
      <li>{{heroOne.skillset.tertiaryAbility.name}}</li>
      <li>{{heroOne.skillset.tertiaryAbility.abilityType}}</li>
      <li>{{heroOne.skillset.tertiaryAbility.value}}</li>
    </ul>
    <ul>
      Quaternary:
      <li>{{heroOne.skillset.quaternaryAbility.name}}</li>
      <li>{{heroOne.skillset.quaternaryAbility.abilityType}}</li>
      <li>{{heroOne.skillset.quaternaryAbility.value}}</li>
    </ul>
  </h2>
  </article>

  <article class="character">
    <h1>
    {{heroTwo.name}} the {{heroTwo.classType.name}}!!
    </h1>
    <h2>
    Your modifiers are: <br>
    HP:       {{heroTwo.classType.hpModifier.value}} <br>
    MP:       {{heroTwo.classType.mpModifier.value}} <br>
    Physical Damage:   {{heroTwo.classType.physicalModifier.value}} <br>
    Magical Damage: {{heroTwo.classType.magicalModifier.value}} <br>
    Defense:  {{heroTwo.classType.defenseModifier.value}} <br>
    Magic Defense: {{heroTwo.classType.magicDefenseModifier.value}} <br>
    Healing:  {{heroTwo.classType.healModifier.value}} <br>
  </h2>
  <h2>
    Your skills are: <br>
    <ul>
      Primary:
      <li>{{heroTwo.skillset.primaryAbility.name}}</li>
      <li>{{heroTwo.skillset.primaryAbility.abilityType}}</li>
      <li>{{heroTwo.skillset.primaryAbility.value}}</li>
    </ul>
    <ul>
      Secondary:
      <li>{{heroTwo.skillset.secondaryAbility.name}}</li>
      <li>{{heroTwo.skillset.secondaryAbility.abilityType}}</li>
      <li>{{heroTwo.skillset.secondaryAbility.value}}</li>
    </ul>
    <ul>
      Tertiary:
      <li>{{heroTwo.skillset.tertiaryAbility.name}}</li>
      <li>{{heroTwo.skillset.tertiaryAbility.abilityType}}</li>
      <li>{{heroTwo.skillset.tertiaryAbility.value}}</li>
    </ul>
    <ul>
      Quaternary:
      <li>{{heroTwo.skillset.quaternaryAbility.name}}</li>
      <li>{{heroTwo.skillset.quaternaryAbility.abilityType}}</li>
      <li>{{heroTwo.skillset.quaternaryAbility.value}}</li>
    </ul>
  </h2>
  </article>

  <article class="character">
    <h1>
      {{heroThree.name}} the {{heroThree.classType.name}}!!
    </h1>
   <h2>
    Your modifiers are: <br>
    HP:       {{heroThree.classType.hpModifier.value}} <br>
    MP:       {{heroThree.classType.mpModifier.value}} <br>
    Physical Damage:   {{heroThree.classType.physicalModifier.value}} <br>
    Magical Damage: {{heroThree.classType.magicalModifier.value}} <br>
    Defense:  {{heroThree.classType.defenseModifier.value}} <br>
    Magic Defense: {{heroThree.classType.magicDefenseModifier.value}} <br>
    Healing:  {{heroThree.classType.healModifier.value}} <br>
  </h2>
  <h2>
    Your skills are: <br>
    <ul>
      Primary:
      <li>{{heroThree.skillset.primaryAbility.name}}</li>
      <li>{{heroThree.skillset.primaryAbility.abilityType}}</li>
      <li>{{heroThree.skillset.primaryAbility.value}}</li>
    </ul>
    <ul>
      Secondary:
      <li>{{heroThree.skillset.secondaryAbility.name}}</li>
      <li>{{heroThree.skillset.secondaryAbility.abilityType}}</li>
      <li>{{heroThree.skillset.secondaryAbility.value}}</li>
    </ul>
    <ul>
      Tertiary:
      <li>{{heroThree.skillset.tertiaryAbility.name}}</li>
      <li>{{heroThree.skillset.tertiaryAbility.abilityType}}</li>
      <li>{{heroThree.skillset.tertiaryAbility.value}}</li>
    </ul>
    <ul>
      Quaternary:
      <li>{{heroThree.skillset.quaternaryAbility.name}}</li>
      <li>{{heroThree.skillset.quaternaryAbility.abilityType}}</li>
      <li>{{heroThree.skillset.quaternaryAbility.value}}</li>
    </ul>
  </h2>
  </article>

  <article class="character">
    <h1>
    {{heroFour.name}} the {{heroFour.classType.name}}!!
    </h1>
   <h2>
    Your modifiers are: <br>
    HP:       {{heroFour.classType.hpModifier.value}} <br>
    MP:       {{heroFour.classType.mpModifier.value}} <br>
    Physical Damage:   {{heroFour.classType.physicalModifier.value}} <br>
    Magical Damage: {{heroFour.classType.magicalModifier.value}} <br>
    Defense:  {{heroFour.classType.defenseModifier.value}} <br>
    Magic Defense: {{heroFour.classType.magicDefenseModifier.value}} <br>
    Healing:  {{heroFour.classType.healModifier.value}} <br>
  </h2>
  <h2>
    Your skills are: <br>
    <ul>
      Primary:
      <li>{{heroFour.skillset.primaryAbility.name}}</li>
      <li>{{heroFour.skillset.primaryAbility.abilityType}}</li>
      <li>{{heroFour.skillset.primaryAbility.value}}</li>
    </ul>
    <ul>
      Secondary:
      <li>{{heroFour.skillset.secondaryAbility.name}}</li>
      <li>{{heroFour.skillset.secondaryAbility.abilityType}}</li>
      <li>{{heroFour.skillset.secondaryAbility.value}}</li>
    </ul>
    <ul>
      Tertiary:
      <li>{{heroFour.skillset.tertiaryAbility.name}}</li>
      <li>{{heroFour.skillset.tertiaryAbility.abilityType}}</li>
      <li>{{heroFour.skillset.tertiaryAbility.value}}</li>
    </ul>
    <ul>
      Quaternary:
      <li>{{heroFour.skillset.quaternaryAbility.name}}</li>
      <li>{{heroFour.skillset.quaternaryAbility.abilityType}}</li>
      <li>{{heroFour.skillset.quaternaryAbility.value}}</li>
    </ul>
  </h2>
  </article>
</section>
</div>
