<body class="combatContainer">
  <div class="combatBody">
    <nav class="combatNav">nav</nav>
    <main class="combatContent">You are entering a zone of danger.</main>
    <aside class="combatAside">
      <div class="navBox">
        <a class="characterSheetLink" (click)="toCharacterSheet()">Character Sheet</a>
      </div>
      <div class="navBox">
        <a class="plainText"> Skills </a>
        <button class="attackButton" target="physical">Attack1</button>
        <button class="attackButton" target="magic">Attack2</button>
        <button class="attackButton" target="healing">Attack3</button>
        <button class="attackButton" target="physical">Attack4</button>
        <button class="attackButton" target="seppuku" (click)="goodnightSweetPrince()">Seppuku</button>
      </div>
    </aside>
  </div>
</body>
