 html,
 body {
   width: 100%;
   height: 100%;
   margin: 0;
 }
 /* Character Generation CSS */

 .characters {
   /* display: flex;
    background-color:#ccc;
    text-align: center;
    font-family: Avenir, sans-serif;
    font-size: 12px;  */
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 5px;
 }

 .character {
   flex: 0 1 24%;
   border: solid black;
   background-color: #ccc;
   font-size: 12px;
   font-family: Avenir, sans-serif;
   border-radius: 4px;
 }

 .character:hover {
   background-color: #cce
 }

 .header {
   display: flex;
   text-align: center;
   font-family: Avenir, sans-serif;
   font-size: 18px;
   justify-content: space-between;
   flex-direction: row;
   padding-right: 20px;
   margin-left: 33%;
 }

 .rerollButton {
   display: flex;
   background-color: red;
   color: black;
   border: 2px solid black;
   border-radius: 4px;
 }

 .rerollButton:hover {
   background-color: #4CAF50;
   box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
   cursor: pointer;
 }
 /* Combat Page CSS */

 .combatContainer {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 .combatBody {
   display: flex;
   flex: 1;
   background-color: black;
 }

 .combatContent {
   flex: 1;
 }

 .combatNav,
 .combatAside {
   /* 12em is the width of the columns */
   display: flex;
   flex: 0 0 12em;
   background-color: #5D4C59;
   border: solid white 4px;
   border-radius: 4px;
   flex-direction: column;
   padding: 15px;
   margin: 30px;
   box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.33);
 }

 .combatNav {
   /* put the nav on the left */
   order: -1;
   background-color: #5D4C59;
 }

 .combatContainer,
 .combatBody {
   display: flex;
   flex-direction: column;
 }

 .combatNav {
   order: -1;
 }

 @media (min-width: 768px) {
   .combatBody {
     flex-direction: row;
     flex: 1;
   }
   .combatContent {
     flex: 1;
     background-color: black;
     color: white;
     border: solid white 4px;
     border-radius: 4px;
     margin-top: 15px;
     margin-bottom: 15px;
     /* box-shadow: -6px 6px 5px 0px rgba(211, 211, 211, 0.75); */
     box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.33);
   }
   .combatNav {
     /* 12em is the width of the columns */
     flex: 0 0 12em;
   }
 }

 .attackButton {
   display: flex;
   color: white;
   background-color: darkred;
   border: 2px solid black;
   border-radius: 4px;
   margin: 8px;
 }

 .attackButton[target=physical] {
   background-color: darkred;
   /* border-radius: 50px 0px 50px 0px; */
 }

 .attackButton[target=magic] {
   background-color: blue;
   /* border-radius: 0px 200px 200px 200px; */
 }

 .attackButton[target=healing] {
   background-color: green;
   /* border-radius: 58px 57px 200px 200px; */
 }
  
 .attackButton[target=seppuku]{
  background-color: purple; 
  /* border-radius: 200px 200px 200px 200px; */
 }

 .attackButton:hover {
   box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
   cursor: pointer;
   opacity: 0.5;
   border-color: white;
 }

 .characterSheetLink {
   display: flex;
   margin: 8px;
   color: white;
 }

 .characterSheetLink:hover {
   text-decoration: underline;
   cursor: pointer;
 }

 .navBox {
   display: flex;
   background-color: black;
   box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.33);
   flex-direction: column;
   border: solid white 2px;
   margin: 15px;
 }
